* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    background: url(bg/bg1.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  nav{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: #fff;
  }
  
  .nav-links a {
    color: #ffffff;
  }
  
  /* LOGO */
  .logo img{
    height: 62px; 
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #35a700;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  .menu span{
    background-color: #4feb07;
    font-weight: 600;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
  }
  .menu span:hover{
    background-color: transparent;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    transition: 0.9s;
  }
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: #5bd821;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #52ca1a;
    
  }
  
  .services:hover .dropdown {
    display: block;
    
  }
  /* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }

  .text{
    color: #fff;
    backdrop-filter: blur(70px);
    margin-right: 700px;
  }
  .text h1{
    font-family: 'Inter';
    font-size: 35px;
    font-weight: 100;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 90px;
  }
  .text p{
    font-family: 'Inter';
    font-size: 19px;
    font-weight: 100;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 90px;
    word-wrap: normal;
  }
  .c h1{
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
  }
  .c span{
    color: #00ff0d;
  }
  .c h3{
    color: #fff;
    text-align: center;
  }
  .t2 {
    color: #fff;
    margin-top: 300px;
    
  }
  .t2 h1{
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
  }
  .container{
      width: 100%;
      height: auto;
      grid-gap: 60px;
      background: transparent;
      display: flex;
      flex-direction: row;
      flex-flow:wrap;
      padding: 10px 10%;
  }
  .box{
    width: 20%;
    height:340px;
    background: rgba(13, 107, 18, 0.2);
    border-radius: 25px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    }
  .box:hover{
    transform: scale(1.1);
    transition: 0.6s;
  }
  .box h3 {
    color: #fff;
  }
  .box h3:hover{
    color: #4feb07;
  }
  #Experts{
    color: #fff;
    font-size: 45px;
    padding: 10px 10%;
    margin-bottom: -15px;
    margin-top: 60px;
}
#Experts span{
    color: #00ff0d;
}
    .i1{
      height: 180px;
      width: 270px;
      border-radius: 20px;
      padding: 8px;
    }
    .h3{
      color: #fff;
      font-size: 25px;
      margin-left: 9px;
    }
    .container2{
      width: 100%;
      height: auto;
      background: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow:wrap;
      display: none;
  }
    button {
      --green: #00FF38;
      font-size: 15px;
      padding: 0.7em 2.7em;
      letter-spacing: 0.06em;
      position: relative;
      font-family: inherit;
      border-radius: 0.6em;
      overflow: hidden;
      transition: all 0.3s;
      line-height: 1.4em;
      border: 2px solid var(--green);
      background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
      color: var(--green);
      box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
      margin-left: 590px;
    }
    
    button:hover {
      color: #82ffc9;
      box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
    }
    
    button:before {
      content: "";
      position: absolute;
      left: -4em;
      width: 4em;
      height: 100%;
      top: 0;
      transition: transform .4s ease-in-out;
      background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
    }

    #cou{
        color: #fff;
        font-size: 45px;
        padding: 10px 10%;
        margin-bottom: -15px;
        margin-top: 60px;
    }
    #cou span{
        color: #00ff0d;
    }
    /* ---------------services------------- */
#services{
    padding: 30px 0;
    color: #fff;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 50px;
    margin-top: 50px;   
}
.services-list div{
    width: 100%;
    background: #524e4e;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #119723;
    transform: translateY(-10px);
}
    button:hover:before {
      transform: translateX(15em);
    }
    footer{
      background-color: #262626;
      color: #fff;
      padding: 20px;
      text-align: center;
      margin-top: 400px;
    }
    footer p{
      margin-right: 110px;
    }
    footer span{
      color: rgb(255, 0, 43);
    }
    footer .icons img{
      height: 23px;
      float: left;
    }
    footer .icons img:hover{
      transform: translateY(-5px);
      transition: 0.5s;
    }
    footer p{
      font-size: 18px;
    }
    footer h4 b span{
      color: #49EF6D;
    }
    .i:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
    .l{
      margin-left: 5px ;
    }
    .l:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
    .t{
      margin-left: 6px ;
    }
    .t:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
    .g{
      margin-left: 7px ;
    }
    .g:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
    .box1{
        width: 40%;
        height:120px;
        background: #524e4e;
        border-radius: 25px;
        float: left;
        margin-top: 100px;
        margin-left: 30px;
      }
      .box1 img{
        height: 72px;
        margin: 28px 9px;
        float: left;
      }
      .box1 p{
        color: #fff;
        margin-left: 100px;
        font-size:x-large;
      }
      .box1 h5{
        color: #fff;
        font-size:11px;
        margin-left: 100px;
        font-weight: 80;
        font-family: 'Inter', sans-serif;
      }
      .box1:hover{
        background: #86b141;
        transform: translateY(-10px);
        transition: background 0.5s, transform 0.5s;
    }
      .box2{
        width: 40%;
        height:120px;
        background: #524e4e;
        border-radius: 25px;
        float: left;
        margin-top: 100px;
        margin-left: 30px;
      }
      .box2:hover{
        background: #ac7c35;
        transform: translateY(-10px);
        transition: background 0.5s, transform 0.5s;
    }
      .box2 img{
        height: 72px;
        margin: 28px 9px;
        float: left;
      }
      .box2 p{
        color: #fff;
        margin-left: 100px;
        font-size:x-large;
      }
      .box2 h5{
        color: #fff;
        font-size:12px;
        margin-left: 100px;
        font-weight: 80;
        font-family: 'Inter', sans-serif;
      }
    .rn{
      display: block;
      width: fit-content;
      border: 1px solid #06c200;
      padding: 14px 32px;
      border-radius: 6px;
      text-decoration: none;
      color: #fff; 
      transition: background 0.5s;
      float: right;
      margin-top: -70px;
      margin-right: 250px;
  }
  .rn:hover{
      background: #00a11b;
  }
  .rn:hover p{
      color: #fff;
  }
  .dce{
    width: 15%;
    float: right;
    border-radius: 20px;
    margin-right: 225px;
    margin-top: -290px;
  }
  /* APPLYING MEDIA QUERIES */
    /*loader*/
      /*load*/
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: opacity 0.75s, visibility 0.75s;
    }
    .loader-hidden{
      opacity: 0;
      visibility: hidden;
      }
      .loader::after{
        content: "";
        width: 75px;
        height: 75px;
        border: 15px solid #999999;
        border-top-color: rgb(0, 255, 13);
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
        }
        @keyframes loading {
          from{
          transform: rotate(0turn);
          }
          to{
          transform: rotate(1turn);
          }
          }

  @media (max-width: 768px) {
    body{
      background: url(bg/bg2.png);
      height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
   .menu {
      display:none;
      position: absolute;
      background: rgba(39, 78, 41, 0.9);
      backdrop-filter: blur(50px);
      height: 50%;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#49EF6D;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
      color: rgb(255, 255, 255);
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #49EF6D;
    }
    .c h1{
      text-align: center;
      color: #fff;
      font-family: 'Inter', sans-serif;
      font-size: 30px;
    }
    .c span{
      color: #00ff0d;
    }
    button{
      margin-left: 115px;
    }
    footer .icons img{
      display: none;
    }
    footer h4{
      font-size: small;
      margin-left: 30px;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    .text h1{
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 500;
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 10px;
        margin-left: 30px;
      }
      .text p{
        font-family: 'Inter';
        font-size: 13px;
        font-weight: 100;
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 50px;
        margin-left: 30px;
      }
      #cou{
        font-size: 33px;
        padding: 10px 10%;
      }
      #Experts{
        font-size: 33px;
        padding: 10px 10%;
      }
      .box1{
        width: 90%;
        height:140px;
        background: #524e4e;
        border-radius: 25px;
        margin-left: 20px;
      }
      .box1 img{
        height: 72px;
        margin: 35px 9px;
      }
      .icons img{
        height: 19px;
        margin-top: 7px;
      }
      .box2{
        width: 90%;
        height:140px;
        background: #524e4e;
        border-radius: 25px;
        float: left;
        margin-top: 30px;
        margin-left: 20px;
      }
      .box2 img{
        height: 72px;
        margin: 35px 9px;
        float: left;
      }
      .icons img{
        height: 29px;
        margin-top: 7px;
      }
  }
  @media screen and (max-width:1200px) {
    .box{
      width: 60%;
      padding: 10px 10%;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    #preloader{
      background-size: 190%;
    }
    
    }
    @media screen and (max-width:600px) {
    .box{
    width: 80%;
    height: 330px;
    padding: 10px 10%;
    }
    .i1{
      width: 290px;
      border-radius: 20px;
      margin-left: -26px;
    }
    .h3{
      color: #fff;
      font-size: 25px;
      margin-left: -20px;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    #preloader{
      background-size: 190%;
    }
    }