@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #f0ebeb;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  nav{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: #000;
  }
  
  .nav-links a {
    color: #000;
  }
  
  /* LOGO */
  .logo img{
    height: 62px; 
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #35a700;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  .menu span{
    background-color: #4feb07;
    font-weight: 600;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
  }
  .menu span:hover{
    background-color: transparent;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    transition: 0.9s;
  }
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: #5bd821;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #52ca1a;
    
  }
  
  .services:hover .dropdown {
    display: block;
    
  }
  /* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
        /*load*/
        .loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            transition: opacity 0.75s, visibility 0.75s;
            }
            .loader-hidden{
              opacity: 0;
              visibility: hidden;
              }
              .loader::after{
                content: "";
                width: 75px;
                height: 75px;
                border: 15px solid #999999;
                border-top-color: rgb(0, 255, 13);
                border-radius: 50%;
                animation: loading 0.75s ease infinite;
                }
                @keyframes loading {
                  from{
                  transform: rotate(0turn);
                  }
                  to{
                  transform: rotate(1turn);
                  }
                  }
.mca{
    background: linear-gradient(to right,transparent,#000000),url(bg/mca10.png);
    height: 80vh;
    width: 100%;
}
.mca p{
    float: left;
    margin-top: 280px;
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 550px;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
  @media (max-width: 768px) {
    body{
      background: url(bg/bg2.png);
      height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
   .menu {
      display:none;
      position: absolute;
      background: rgba(39, 78, 41, 0.9);
      backdrop-filter: blur(50px);
      height: 50%;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#49EF6D;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
      color: rgb(255, 255, 255);
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #49EF6D;
    }
}
#preloader{
    background-size: 190%;
  }