* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: url(bg/bg1.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  nav{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: #fff;
  }
  
  .nav-links a {
    color: #ffffff;
  }
  
  /* LOGO */
  .logo img{
    height: 62px; 
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #35a700;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  .menu span{
    background-color: #4feb07;
    font-weight: 600;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
  }
  .menu span:hover{
    background-color: transparent;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    transition: 0.9s;
  }
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: #52ca1a;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4db11f;
    
  }
  
  .services:hover .dropdown {
    display: block;
    
  }
  /* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  .textarea{
    color: #fff;
  }
  .textarea h2{
    margin: 70px;
    font-weight: 700;
    font-family: 'Kadwa', serif;
    font-size: 34px;
  }
  .textarea h2 span{
    color: #00ff37;
    font-family: 'Raleway', sans-serif;
  }
  .textarea p{
    margin: 70px ;
    margin-top: -70px;
    font-family: 'Inter', sans-serif;
    color: #CDCACA;
  }
  .container{
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:wrap;
}
.box{
  width: 20%;
  height: 430px;
  background: rgba(39, 78, 41, 0.3);
  border-radius: 25px;
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;
  }
  .box img{
    height: 140px;
    margin-top: 15px;
    margin-left: 9px;
    border-radius: 8px;
  }
  .box2 img{
    height: 240px;
    margin-top: 15px;
    margin-left: 9px;
    border-radius: 8px;
  }
  .box p{
    color: #fff;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 100;
  }
  .box2 p{
    color: #fff;
    margin-left: 8px;
    font-size: 22px;
    padding: 7px;
    font-weight: 100;
  }
  .box p:hover{
    color: #07A429;
  }
  .box2 p:hover{
    color: #07A429;
  }
  .box h2{
    color: #07A429;
    font-size: 28px;
    margin-left: 8px;
    margin-top: 9px;
  }
  .box2 h2{
    color: #07A429;
    font-size: 28px;
    margin-left: 8px;
    margin-top: 9px;
    padding: 5px;
  }
  .box h6{
    color: #CDCACA;
    font-size: 14px;
    float: right;
    font-weight: 80;
    margin-right: 55px;
    margin-top: -24px;
  }
  footer{
    background-color: #262626;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 500px;
  }
  footer p{
    margin-right: 110px;
  }
  footer span{
    color: rgb(255, 0, 43);
  }
  footer .icons img{
    height: 23px;
    float: left;
  }
  footer .icons img:hover{
    transform: translateY(-5px);
    transition: 0.5s;
  }
  footer p{
    font-size: 18px;
  }
  footer p b span{
    color: #49EF6D;
  }
  .i:hover{
    transform: scale(1.2);
    transition: 0.6s;
  }
  .l{
    margin-left: 5px ;
  }
  .l:hover{
    transform: scale(1.2);
    transition: 0.6s;
  }
  .t{
    margin-left: 6px ;
  }
  .t:hover{
    transform: scale(1.2);
    transition: 0.6s;
  }
  .g{
    margin-left: 7px ;
  }
  .g:hover{
    transform: scale(1.2);
    transition: 0.6s;
  }
  .rpt{
    color: #fff;
  }
  .rpt h2{
    margin: 70px;
    font-weight: 700;
    font-family: 'Kadwa', serif;
    font-size: 34px;
  }
  .rpt h2 span{
    color: #00ff37;
    font-family: 'Raleway', sans-serif;
  }
  .rpt p{
    margin: 70px ;
    margin-top: -70px;
    font-family: 'Inter', sans-serif;
    color: #CDCACA;
  }
  .container2{
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:wrap;
}
.box2{
  width: 20%;
  height: 550px;
  background: rgba(39, 78, 41, 0.3);
  border-radius: 25px;
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;
  }
        /*load*/
        .loader {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          transition: opacity 0.75s, visibility 0.75s;
          }
          .loader-hidden{
            opacity: 0;
            visibility: hidden;
            }
            .loader::after{
              content: "";
              width: 75px;
              height: 75px;
              border: 15px solid #999999;
              border-top-color: rgb(0, 255, 13);
              border-radius: 50%;
              animation: loading 0.75s ease infinite;
              }
              @keyframes loading {
                from{
                transform: rotate(0turn);
                }
                to{
                transform: rotate(1turn);
                }
                }
  @media (max-width: 768px) {
    body{
      background: url(bg/bg2.png);
      height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
   .menu {
      display:none;
      position: absolute;
      background: rgba(39, 78, 41, 0.9);
      backdrop-filter: blur(50px);
      height: 50%;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#49EF6D;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
      color: rgb(255, 255, 255);
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #49EF6D;
    }
    .box{
      width: 90%;
      }
      .box2{
        width: 90%;
        height: 580px;
        }
      .textarea h2{
        font-size: 27px;
      }
      .box img{
        height: 180px;
      }
      .box2 img{
        height: 300px;
      }
      .box h6{
        margin-right: 20px;
      }
      .box h2{
        margin-left: 40px;
      }
      .rpt h2{
        font-size: 33px;
      }
      footer .icons img{
        display: none;
      }
      footer p{
        font-size: small;
        margin-left: 110px;
      }
      footer{
        background-color: #262626;
        color: #fff;
        padding: 10px;
        text-align: center;
        margin-top: 200px;
      }
      @media screen and (max-width:360px){
        .box img{
          height: 200px;
        }
      }
      .textarea h2{
        font-size: 25px;
      }
}