* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: url(bg/bg1.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  nav{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    color: #fff;
  }
  
  .nav-links a {
    color: #ffffff;
  }
  
  /* LOGO */
  .logo img{
    height: 62px; 
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #35a700;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  .menu span{
    background-color: #4feb07;
    font-weight: 600;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
  }
  .menu span:hover{
    background-color: transparent;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    transition: 0.9s;
  }
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: #5bd821;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #52ca1a;
    
  }
  
  .services:hover .dropdown {
    display: block;
    
  }
  /* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }

  .text{
    color: #fff;
  }
  .text h1{
    font-family: 'Inter';
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 180px;
  }
  .c h1{
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
  }
  .c span{
    color: #00ff0d;
  }
  .c h3{
    color: #fff;
    text-align: center;
  }
  .t2 {
    color: #fff;
    margin-top: 300px;
    
  }
  .t2 h1{
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
  }
  .partners{
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:wrap;
    margin-bottom: -200px;
    margin-top: 50px;
}
.p{
  width: 20%;
  height:390px;
  background: rgba(13, 107, 18, 0.2);
  border-radius: 25px;
  margin: 20px;
  box-sizing: border-box;
  font-size: 50px;
  }
.p:hover{
  transform: scale(1.1);
  transition: 0.6s;
}
.p h3 {
  color: #fff;
}
.p h3:hover{
  color: #4feb07;
}
.i2{
  width: 270px;
  border-radius: 20px;
  padding: 8px;
}
.he2{
  color: #fff;
  font-size: 25px;
  margin-left: 9px;
}
  .container{
      width: 100%;
      height: auto;
      background: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow:wrap;
  }
  .box{
    width: 20%;
    height:340px;
    background: rgba(13, 107, 18, 0.2);
    border-radius: 25px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    }
  .box:hover{
    transform: scale(1.1);
    transition: 0.6s;
  }
  .box h3 {
    color: #fff;
  }
  .box h3:hover{
    color: #4feb07;
  }
    .i1{
      height: 180px;
      width: 270px;
      border-radius: 20px;
      padding: 8px;
    }
    .h3{
      color: #fff;
      font-size: 25px;
      margin-left: 9px;
    }
    .container2{
      width: 100%;
      height: auto;
      background: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow:wrap;
      display: none;
  }
  .box2{
    width: 20%;
    height:300px;
    background: rgba(39, 78, 41, 0.3);
    border-radius: 25px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    }
    button {
      --green: #00FF38;
      font-size: 15px;
      padding: 0.7em 2.7em;
      letter-spacing: 0.06em;
      position: relative;
      font-family: inherit;
      border-radius: 0.6em;
      overflow: hidden;
      transition: all 0.3s;
      line-height: 1.4em;
      border: 2px solid var(--green);
      background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
      color: var(--green);
      box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
      margin-left: 590px;
    }
    
    button:hover {
      color: #82ffc9;
      box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
    }
    
    button:before {
      content: "";
      position: absolute;
      left: -4em;
      width: 4em;
      height: 100%;
      top: 0;
      transition: transform .4s ease-in-out;
      background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
    }
    
    button:hover:before {
      transform: translateX(15em);
    }
    footer{
      background-color: #262626;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    footer p{
      margin-right: 110px;
    }
    footer span{
      color: rgb(255, 0, 43);
    }
    footer .icons img{
      height: 23px;
      float: left;
    }
    footer .icons img:hover{
      transform: translateY(-5px);
      transition: 0.5s;
    }
    footer p{
      font-size: 18px;
    }
    footer h4 b span{
      color: #49EF6D;
    }
    .i:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
    .l{
      margin-left: 5px ;
    }
    .l:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
    .t{
      margin-left: 6px ;
    }
    .t:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
    .g{
      margin-left: 7px ;
    }
    .g:hover{
      transform: scale(1.2);
      transition: 0.6s;
    }
  /* APPLYING MEDIA QUERIES */
    /*loader*/
      /*load*/
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: opacity 0.75s, visibility 0.75s;
    }
    .loader-hidden{
      opacity: 0;
      visibility: hidden;
      }
      .loader::after{
        content: "";
        width: 75px;
        height: 75px;
        border: 15px solid #999999;
        border-top-color: rgb(0, 255, 13);
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
        }
        @keyframes loading {
          from{
          transform: rotate(0turn);
          }
          to{
          transform: rotate(1turn);
          }
          }
  @media (max-width: 768px) {
    body{
      background: url(bg/bg2.png);
      height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
   .menu {
      display:none;
      position: absolute;
      background: rgba(39, 78, 41, 0.9);
      backdrop-filter: blur(50px);
      height: 50%;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#49EF6D;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
      color: rgb(255, 255, 255);
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #49EF6D;
    }
    .text h1{
      font-family: 'Inter';
      text-align: center;
      font-size: 25px;
      font-weight: 100;
      margin-top: 300px;
    }
    .c h1{
      text-align: center;
      color: #fff;
      font-family: 'Inter', sans-serif;
      font-size: 30px;
    }
    .c span{
      color: #00ff0d;
    }
    button{
      margin-left: 115px;
    }
    footer .icons img{
      display: none;
    }
    footer h4{
      font-size: small;
      margin-left: 30px;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
  @media screen and (max-width:1200px) {
    .box{
      width: 60%;
      padding: 10px 10%;
    }
    .p{
      width: 60%;
      padding: 10px 10%;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    #preloader{
      background-size: 190%;
    }
    
    }
    @media screen and (max-width:600px) {
    .p{
    width: 80%;
    height: 390px;
    padding: 10px 10%;
    }
    .box{
      width: 80%;
      height: 390px;
      padding: 10px 10%;
      }
    .i1{
      width: 290px;
      border-radius: 20px;
      margin-left: -26px;
    }
    .i2{
      width: 290px;
      border-radius: 20px;
      margin-left: -26px;
    }
    .h3{
      color: #fff;
      font-size: 25px;
      margin-left: -20px;
    }
    .he2{
      color: #fff;
      font-size: 25px;
      margin-left: -20px;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    #preloader{
      background-size: 190%;
    }
    }